<table class="stats">
	<thead>
		<tr class="sections">
			<th colspan="3" style="text-align: left;">Roster</th>
			<th colspan="4">Batting</th>
			<th colspan="4">Pitching</th>
		</tr>
		<tr>
			<th>Player</th>
			<th>Positions</th>
			<th>Bat/Throws</th>
			<th>AVG</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>
			<th>ERA</th>
			<th>SO</th>
			<th>W</th>
			<th>L</th>
		</tr>
	</thead>
	<tbody class="players">
			<% @players.each do |p| %>
				<tr class="player">
					<% bs = BatterGameStat.where(:player_id => p.id) %>
					<td><%= link_to(p.fullname, player_path(p.id)) %></td>
					<td><%#= bs.position_id %></td>
					<td><%= p.bats %>/<%= p.throws %></td>
					<td><%= number_with_precision(((bs.sum(:hits).to_d/bs.sum(:ab).to_d).to_d), :precision => 3) %></td>
					<td><%= bs.sum(:hr) %></td>
					<td><%= bs.sum(:rbi) %></td>
					<td><%= bs.sum(:sb) %></td>
				</tr>
			<% end %>
	</tbody>
</table>

<table class="stats">
	<thead>
		<tr class="sections">
			<th>Coaches</th>
		</tr>
		<tr>
			<th>Coach</th>
			<th>Manager</th>
			<th>First Base</th>
			<th>Third Base<%=  %></th>
		</tr>
	</thead>
	<tbody class="coaches">
			<% @coaches.each do |c| %>
				<tr class="coach">
					<td><%= c.fullname %></td>
					<td><%= "X" if c.manager %></td>
					<td><%= "X" if c.first_base %></td>
					<td><%= "X" if c.third_base %></td>
				</tr>
			<% end %>
	</tbody>
</table>
