<div class="home left">
	<h2>Batters</h2>
	<table class="stats">

		<thead>
			<tr>
				<th>Player</th>
				<th>Position(s)</th>
				<th>Bats</th>
				<th>Throws</th>
			</tr>
		</thead>

		<tbody class="players">
			<% @position_players.each do |pp| %>
				<tr class="player">
					<td><%= link_to(pp.name, player_path(pp.player_id)) %></td>
					<td><%= pp.pos[1...-1] %></td>
					<td><%= pp.bats %></td>
					<td><%= pp.throws %></td>
				</tr>
			<% end %>
		</tbody>

	</table>
<% if @new_players %>
	<table class="stats">
		<br />
		<h2>New Players</h2>
		<thead>
			<tr>
				<th>Player</th>
				<th>Bats</th>
				<th>Throws</th>
			</tr>
		</thead>

		<tbody class="players">
			<% @new_players.each do |np| %>
				<tr class="player">
					<td><%= link_to(np.fullname, player_path(np.id)) %></td>
					<td><%= np.bats %></td>
					<td><%= np.throws %></td>
				</tr>
			<% end %>
		</tbody>

	</table>
<% end %>

<div class="content_button left new_player_link">Add Player</div>
<%= render :partial => "new_player", :locals => {:player => @player} %>


</div>

<div class="home left">

	<h2>Pitchers</h2>
	<table class="stats">

		<thead>
			<tr>
				<th>Player</th>
				<th>Throws</th>
				<th>Starter</th>
			</tr>
		</thead>

		<tbody class="players">
			<% @pitchers.each do |pitcher| %>
				<tr class="player">
					<td><%= link_to(pitcher.name, player_path(pitcher.player_id)) %></td>
					<td><%= pitcher.throws %></td>
					<td><%= "X" if pitcher.start > 0 %></td>
				</tr>
			<% end %>
		</tbody>

	</table>

	<br />
	<h2>Coaches</h2>
	<table class="stats">
		<thead>
			<tr>
				<th>Coach</th>
				<th>Manager</th>
				<th>1B</th>
				<th>3B</th>
			</tr>
		</thead>
		<tbody class="coaches">
				<% @coaches.each do |c| %>
					<tr class="coach">
						<td><%= c.fullname %></td>
						<td><%= "X" if c.manager %></td>
						<td><%= "X" if c.first_base %></td>
						<td><%= "X" if c.third_base %></td>
					</tr>
				<% end %>
		</tbody>
	</table>

<div class="content_button left new_coach_link">Add Coach</div>
<%= render :partial => "new_coach", :locals => {:coach => @coach} %>

</div>