<table class="stats home left">
	<thead>
		<tr class="sections">
			<th>Roster</th>
		</tr>
		<tr>
			<th>Player</th>
			<th>Position(s)</th>
			<th>Bats/Throws</th>
			<!--<th>AVG</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>-->
		</tr>
	</thead>
	<tbody class="players">
			<% @players.each do |p| %>
				<tr class="player">
					<td><%= link_to(p.fname + ' ' + p.lname, player_path(p.id)) %></td>
					<td><%#= p.position %></td>
					<td><%= p.bats %>/<%= p.throws %></td>
				</tr>
			<% end %>
	</tbody>
</table>

<%= link_to "Add Player", :new_player, :class => "content_button left" %>
<!--
<table class="stats left">
	<thead>
		<tr class="sections">
			<th>Pitchers</th>
		</tr>
		<tr>
			<th>Player</th>
			<th>Throws</th>
			<th>ERA</th>
			<th>W</th>
			<th>L</th>
			<th>S</th>
			<th>SO</th>
		</tr>
	</thead>
	<tbody class="players">
			<%# @pitchers.each do |pitcher| %>
				<tr class="player">
					<td><%#= link_to(pitcher.fname + ' ' + pitcher.lname, player_path(pitcher.player_id)) %></td>
					<td><%#= pitcher.throws %></td>
					<td><%#= number_with_precision((((pitcher.sum_er.to_d / pitcher.sum_ip.to_d) * 9).to_d), :precision => 2) %></td>
					<td><%#= pitcher.sum_win %></td>
					<td><%#= pitcher.sum_loss %></td>
					<td><%#= pitcher.sum_sv %></td>
					<td><%#= pitcher.sum_so %></td>
				</tr>
			<%# end %>
	</tbody>
-->

<table class="stats home left">
	<thead>
		<tr class="sections">
			<th>Coaches</th>
		</tr>
		<tr>
			<th>Coach</th>
			<th>Manager</th>
			<th>1B</th>
			<th>3B</th>
		</tr>
	</thead>
	<tbody class="coaches">
			<% @coaches.each do |c| %>
				<tr class="coach">
					<td><%= c.fullname %></td>
					<td><%= "X" if c.manager %></td>
					<td><%= "X" if c.first_base %></td>
					<td><%= "X" if c.third_base %></td>
				</tr>
			<% end %>
	</tbody>
</table>
<%= link_to "Add Coach", :new_coach, :class => "content_button left" %>
