<tr class="pitcher_form">
	<%= form_for @pitcher_game_stat, :remote => true do |f| %>
		<td><%= f.text_field :pitcher_num, :autofocus => true %></td>
		<td><%= f.collection_select(:player_id, @players, :id, :fullname) %></td>
		<td><%= f.check_box :start %></td>
		<td><%= f.check_box :win %></td>
		<td><%= f.check_box :loss %></td>
		<td><%= f.check_box :sv %></td>
		<td><%= f.check_box :cg %></td>
		<td><%= f.check_box :sho %></td>
		<td><%= f.text_field :ip %></td>
		<td><%= f.text_field :hits %></td>
		<td><%= f.text_field :runs %></td>
		<td><%= f.text_field :er %></td>
		<td><%= f.text_field :hr %></td>
		<td><%= f.text_field :hb %></td>
		<td><%= f.text_field :bb %></td>
		<td><%= f.text_field :ibb %></td>
		<td><%= f.text_field :so %></td>
		<%= f.hidden_field :game_id, :value => 5 %>
		<td><%= f.submit "Save" %></td>
	<% end %>
</tr>