<%= form_for @batter_game_stat |f| %>
	<td><%= f.collection_select(:player_id, @players, :id, :fullname) %></td>
	<td><%= f.collection_select(:position_id, @positions, :id, :position) %></td>
	<td><%= f.text_field :ab %></td>
	<td><%= f.text_field :hits %></td>
	<td><%= f.text_field :runs %></td>
	<td><%= f.text_field :double %></td>
	<td><%= f.text_field :triple %></td>
	<td><%= f.text_field :hr %></td>
	<td><%= f.text_field :rbi %></td>
	<td><%= f.text_field :hb %></td>
	<td><%= f.text_field :bb %></td>
	<td><%= f.text_field :ibb %></td>
	<td><%= f.text_field :so %></td>
	<td><%= f.text_field :sb %></td>
	<td><%= f.text_field :cs %></td>
	<td><%= f.submit "Save" %></td>
<% end %>