<h2>Game vs. <%= @game.opp_nickname %></h2>
<p><%= @game.game_datetime.strftime("%B %e, %Y - %I:%M %p") %></p>
<%= @pitcher_stats.sum(:win) == 1 ? 'WIN' : 'LOSS' %>: <%= @batter_stats.sum(:runs) %> - <%= @pitcher_stats.sum(:runs) %></p>

<table class="stats">

	<%= render :partial => "batter_stat_head" %>

	<tbody class="added_batters">	
		<% @batter_stats.each do |bs| %>
		<tr class="added_batter" id="b<%= bs.order_in_lineup %>">
			<td><%= bs.order_in_lineup %></td>
			<td><%= bs.player.fullname %></td>
			<td><%= bs.position.position %></td>
			<td><%= bs.ab %></td>
			<td><%= bs.hits %></td>
			<td><%= bs.runs %></td>
			<td><%= bs.double %></td>
			<td><%= bs.triple %></td>
			<td><%= bs.hr %></td>
			<td><%= bs.rbi %></td>
			<td><%= bs.hb %></td>
			<td><%= bs.bb %></td>
			<td><%= bs.ibb %></td>
			<td><%= bs.so %></td>
			<td><%= bs.sb %></td>
			<td><%= bs.cs %></td>
			<!--<td><%#= link_to "Edit", batter_game_stat_path(bs.id), :remote => true, :class => "edit" %></td>-->
		</tr>
		<% end %>
	</tbody>

</table>

<%= form_for @batter_game_stat, :remote => true, :class => "add_batter" do |f| %>

	<table class="add_batter_stats">

		<%= render :partial => "batter_stat_head" %>

		<tbody>
			<tr class="batter_form">
				<%= f.hidden_field :game_id, :value => @game.id %>
				<td><%= f.text_field :order_in_lineup, :autofocus => true %></td>
				<td><%= f.collection_select(:player_id, @players, :id, :fullname) %></td>
				<td><%= f.collection_select(:position_id, @positions, :id, :position) %></td>
				<td><%= f.text_field :ab, :value => 0 %></td>
				<td><%= f.text_field :hits, :value => 0 %></td>
				<td><%= f.text_field :runs, :value => 0 %></td>
				<td><%= f.text_field :double, :value => 0 %></td>
				<td><%= f.text_field :triple, :value => 0 %></td>
				<td><%= f.text_field :hr, :value => 0 %></td>
				<td><%= f.text_field :rbi, :value => 0 %></td>
				<td><%= f.text_field :hb, :value => 0 %></td>
				<td><%= f.text_field :bb, :value => 0 %></td>
				<td><%= f.text_field :ibb, :value => 0 %></td>
				<td><%= f.text_field :so, :value => 0 %></td>
				<td><%= f.text_field :sb, :value => 0 %></td>
				<td><%= f.text_field :cs, :value => 0 %></td>
				<td><%= f.submit "Save" %></td>			
			</tr>
		</tbody>
		
	</table>
<% end %>

<div class="add_batter_link content_button">Add Batter</div>
	
</table>
<table class="stats">

	<%= render :partial => "pitcher_stat_head" %>

	<tbody class="added_pitchers">
		<% @pitcher_stats.each do |ps| %>
		<tr class="added_pitcher">
			<td><%= ps.pitcher_num %></td>
			<td><%= ps.player.fullname %></td>
			<td><%= ps.start %></td>
			<td><%= ps.win %></td>
			<td><%= ps.loss %></td>
			<td><%= ps.sv %></td>
			<td><%= ps.cg %></td>
			<td><%= ps.sho %></td>
			<td><%= ps.ip %></td>
			<td><%= ps.hits %></td>
			<td><%= ps.runs %></td>
			<td><%= ps.er %></td>
			<td><%= ps.hr %></td>
			<td><%= ps.hb %></td>
			<td><%= ps.bb %></td>
			<td><%= ps.ibb %></td>
			<td><%= ps.so %></td>
		</tr>
		<% end %>
	</tbody>

</table>

<%= form_for @pitcher_game_stat, :remote => true, :class => "add_pitcher" do |f| %>
	<table class="add_pitcher_stats">

	<%= render :partial => "pitcher_stat_head" %>

		<tbody>
			<tr class="pitcher_form">
				<%= f.hidden_field :game_id, :value => @game.id %>
				<td><%= f.text_field :pitcher_num, :autofocus => true %></td>
				<td><%= f.collection_select(:player_id, @players, :id, :fullname) %></td>
				<td><%= f.check_box :start %></td>
				<td><%= f.check_box :win %></td>
				<td><%= f.check_box :loss %></td>
				<td><%= f.check_box :sv %></td>
				<td><%= f.check_box :cg %></td>
				<td><%= f.check_box :sho %></td>
				<td><%= f.text_field :ip, :value => 0 %></td>
				<td><%= f.text_field :hits, :value => 0 %></td>
				<td><%= f.text_field :runs, :value => 0 %></td>
				<td><%= f.text_field :er, :value => 0 %></td>
				<td><%= f.text_field :hr, :value => 0 %></td>
				<td><%= f.text_field :hb, :value => 0 %></td>
				<td><%= f.text_field :bb, :value => 0 %></td>
				<td><%= f.text_field :ibb, :value => 0 %></td>
				<td><%= f.text_field :so, :value => 0 %></td>
				<td><%= f.submit "Save" %></td>
			</tr>
		</tbody>

	</table>
<% end %>
<div class="add_pitcher_link content_button">Add Pitcher</div>