<h2>Game vs. <%= @game.opp_nickname %></h2>
<p><%= @game.game_datetime.strftime("%B %e, %Y - %I:%M %p") %></p>
<%= @pitcher_stats.sum(:win) == 1 ? 'WIN' : 'LOSS' %>: <%= @batter_stats.sum(:runs) %> - <%= @pitcher_stats.sum(:runs) %></p>

<table class="stats">

	<thead>
		<tr>
			<th>#</th>
			<th>Position Players</th>
			<th>Position</th>
			<th>AB</th>
			<th>Hits</th>
			<th>Runs</th>
			<th>2B</th>
			<th>3B</th>
			<th>HR</th>
			<th>RBI</th>
			<th>HB</th>
			<th>BB</th>
			<th>IBB</th>
			<th>SO</th>
			<th>SB</th>
			<th>CS</th>
		</tr>
	</thead>

	<tbody class="added_batters">	
		<% @batter_stats.each do |bs| %>
		<tr class="added_batter" id="b<%= bs.order_in_lineup %>">
			<td><%= bs.order_in_lineup %></td>
			<td><%= bs.player.fullname %></td>
			<td><%= bs.position.position %></td>
			<td><%= bs.ab %></td>
			<td><%= bs.hits %></td>
			<td><%= bs.runs %></td>
			<td><%= bs.double %></td>
			<td><%= bs.triple %></td>
			<td><%= bs.hr %></td>
			<td><%= bs.rbi %></td>
			<td><%= bs.hb %></td>
			<td><%= bs.bb %></td>
			<td><%= bs.ibb %></td>
			<td><%= bs.so %></td>
			<td><%= bs.sb %></td>
			<td><%= bs.cs %></td>
			<!--<td><%#= link_to "Edit", batter_game_stat_path(bs.id), :remote => true, :class => "edit" %></td>-->
		</tr>
		<% end %>
	</tbody>

	<tbody class="add_batters">
		<td class="add_batter">
		</td>
	</tbody>

</table>
	<%= link_to("Add Batter", :new_batter_game_stat, :remote => true, class: "add_batter_link content_button")  %>
	
</table>
<table class="stats">

	<thead>
		<tr>
			<th>#</th>
			<th>Pitchers</th>
			<th>Start</th>
			<th>Win</th>
			<th>Loss</th>
			<th>Save</th>
			<th>CG</th>
			<th>SHO</th>
			<th>IP</th>
			<th>Hits</th>
			<th>Runs</th>
			<th>ER</th>
			<th>HR</th>
			<th>HB</th>
			<th>BB</th>
			<th>IBB</th>
			<th>SO</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody class="added_pitchers">
		<% @pitcher_stats.each do |ps| %>
		<tr class="added_pitcher">
			<td><%= ps.pitcher_num %></td>
			<td><%= ps.player.fullname %></td>
			<td><%= ps.start %></td>
			<td><%= ps.win %></td>
			<td><%= ps.loss %></td>
			<td><%= ps.sv %></td>
			<td><%= ps.cg %></td>
			<td><%= ps.sho %></td>
			<td><%= ps.ip %></td>
			<td><%= ps.hits %></td>
			<td><%= ps.runs %></td>
			<td><%= ps.er %></td>
			<td><%= ps.hr %></td>
			<td><%= ps.hb %></td>
			<td><%= ps.bb %></td>
			<td><%= ps.ibb %></td>
			<td><%= ps.so %></td>
		</tr>
		<% end %>
	</tbody>

</table>

<%= form_for @pitcher_game_stat, :remote => true, :class => "add_pitcher" do |f| %>
	<table class="add_stats">

		<thead>
			<tr>
				<th>#</th>
				<th> Add a Pitcher </th>
				<th>Start</th>
				<th>Win</th>
				<th>Loss</th>
				<th>Save</th>
				<th>CG</th>
				<th>SHO</th>
				<th>IP</th>
				<th>Hits</th>
				<th>Runs</th>
				<th>ER</th>
				<th>HR</th>
				<th>HB</th>
				<th>BB</th>
				<th>IBB</th>
				<th>SO</th>
				<th>&nbsp;</th>
			</tr>
	</thead>

		<tbody>
			<tr class="pitcher_form">
				<%= f.hidden_field :game_id, :value => @game.id %>
				<td><%= f.text_field :pitcher_num, :autofocus => true %></td>
				<td><%= f.collection_select(:player_id, @players, :id, :fullname) %></td>
				<td><%= f.check_box :start %></td>
				<td><%= f.check_box :win %></td>
				<td><%= f.check_box :loss %></td>
				<td><%= f.check_box :sv %></td>
				<td><%= f.check_box :cg %></td>
				<td><%= f.check_box :sho %></td>
				<td><%= f.text_field :ip %></td>
				<td><%= f.text_field :hits %></td>
				<td><%= f.text_field :runs %></td>
				<td><%= f.text_field :er %></td>
				<td><%= f.text_field :hr %></td>
				<td><%= f.text_field :hb %></td>
				<td><%= f.text_field :bb %></td>
				<td><%= f.text_field :ibb %></td>
				<td><%= f.text_field :so %></td>
				<td><%= f.submit "Save" %></td>
			</tr>
		</tbody>

	</table>
<% end %>


<%= link_to("Add Pitcher", :new_pitcher_game_stat, :remote => true, class: "add_pitcher_link content_button")  %>