<h2>Game vs. <%= @game.opp_nickname %></h2>
<p><%= @game.game_datetime.strftime("%B %e, %Y - %I:%M %p") %></p>

<table class="stats">
	<thead>
		<tr>
			<th>#</th>
			<th>Position Player</th>
			<th>Position</th>
			<th>AB</th>
			<th>Hits</th>
			<th>Runs</th>
			<th>2B</th>
			<th>3B</th>
			<th>HR</th>
			<th>RBI</th>
			<th>HB</th>
			<th>BB</th>
			<th>IBB</th>
			<th>SO</th>
			<th>SB</th>
			<th>CS</th>
		</tr>
	</thead>
	<tbody class="players">
		<% batter_num = 1 %>
		<% while batter_num < 10 %>
			<tr class="player batter<%= batter_num %>">
				<td><%= batter_num %></td>
				<% @team_stats.each do |bs| %>
					<% if !bs.player_id %> 
						<td><%= link_to("Add Player", new_batter_game_stat_path(@batter_game_stat, :batter_num => batter_num), :remote => true)  %></td>
					<% else %>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					<% end %>
				<% batter_num += 1 %>
			</tr>
		<% end %>
	</tbody>
</table>
<table class="stats">
	<thead>
		<tr>
			<th>Pitcher(s)</th>
			<th>Start</th>
			<th>Win</th>
			<th>Loss</th>
			<th>Save</th>
			<th>CG</th>
			<th>SHO</th>
			<th>IP</th>
			<th>Hits</th>
			<th>Runs</th>
			<th>ER</th>
			<th>HR</th>
			<th>HB</th>
			<th>BB</th>
			<th>IBB</th>
			<th>SO</th>
		</tr>
	</thead>
	<tbody class="players">
		<tr class="player">
		</tr>
		<tr class="add_player">
			<td><%= link_to("Add Pitcher", :new_pitcher_game_stat, :remote => true)  %></td>
		</tr>
	</tbody>
</table>