<%= form_for @player do |f| %>

	<p>
		<%= f.label "Team ID:*" %>
		<%= f.text_field :team_id %>
	</p>
	<p>
		<%= f.label "First Name" %>
		<%= f.text_field :fname %>
	</p>
	<p>
		<%= f.label "Last Name" %>
		<%= f.text_field :lname %>
	</p>
	<p>
		<%= f.label "Date of Birth:" %>
		<%= f.date_select :dob, 
				start_year: Time.now.year - 70, 
				end_year: Time.now.year - 5, 
				use_short_month: true, 
				order: [:month, :day, :year] %>
	</p>
	<p>
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.label :throws %>
		<%= f.select(:throws, options_for_select([['Right', 'Right'], ['Left', 'Left'], ['Switch', 'Switch']])) %>
	</p>
	<p>
		<%= f.label :bats %>
		<%= f.select(:bats, options_for_select([['Right', 'Right'], ['Left', 'Left'], ['Switch', 'Switch']])) %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
<p>*Your manager has to supply you with the "Team ID".</p>