<h2>Team Stats</h2>
<table class="stats">
	
	<thead>
		<tr>
			<th>Batting</th>
			<th>AB</th>
			<th>Hits</th>
			<th>Runs</th>
			<th>2B</th>
			<th>3B</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>
			<th>CS</th>
			<th>BB</th>
			<th>IBB</th>
			<th>HB</th>
			<th>AVG</th>
			<th>OBP</th>
		</tr>
	</thead>

	<tbody class="players">
			<% @players.each do |p| %>
				<tr class="player">
					<td><%= link_to(p.fullname, player_path(p.id)) %></td>
					<td><%= p.batter_game_stats.sum(:ab) %></td>
					<td><%= p.batter_game_stats.sum(:hits) %></td>
					<td><%= p.batter_game_stats.sum(:runs) %></td>
					<td><%= p.batter_game_stats.sum(:double) %></td>
					<td><%= p.batter_game_stats.sum(:triple) %></td>
					<td><%= p.batter_game_stats.sum(:hr) %></td>
					<td><%= p.batter_game_stats.sum(:rbi) %></td>
					<td><%= p.batter_game_stats.sum(:sb) %></td>
					<td><%= p.batter_game_stats.sum(:cs) %></td>
					<td><%= p.batter_game_stats.sum(:bb) %></td>
					<td><%= p.batter_game_stats.sum(:ibb) %></td>
					<td><%= p.batter_game_stats.sum(:hb) %></td>
					<td><%= number_with_precision(((p.batter_game_stats.sum(:hits).to_d/p.batter_game_stats.sum(:ab).to_d).to_d), :precision => 3).to_s.sub("0", "") %></td>
					<td><%= number_with_precision((((p.batter_game_stats.sum(:hits) + p.batter_game_stats.sum(:bb)).to_d / p.batter_game_stats.sum(:ab).to_d).to_d), :precision => 3).to_s.sub("0", "") %></td>
				</tr>
			<% end %>
	</tbody>

</table>
<table class="stats">

	<thead>
		<tr>
			<th class="first_col">Pitching</th>
			<th>Starts</th>
			<th>Wins</th>
			<th>Losses</th>
			<th>Saves</th>
			<th>CG</th>
			<th>SHO</th>
			<th>IP</th>
			<th>Hits</th>
			<th>Runs</th>
			<th>ER</th>
			<th>HR</th>
			<th>HB</th>
			<th>BB</th>
			<th>IBB</th>
			<th>SO</th>
			<th>ERA</th>
			<th>WHIP</th>
		</tr>
	</thead>

	<tbody class="players">
		<% @players.each do |p| %>
				<tr class="player">
					<td><%= link_to(p.fullname, player_path(p.id)) %></td>
					<td><%= p.pitcher_game_stats.sum(:start) %></td>
					<td><%= p.pitcher_game_stats.sum(:win) %></td>
					<td><%= p.pitcher_game_stats.sum(:loss) %></td>
					<td><%= p.pitcher_game_stats.sum(:sv) %></td>
					<td><%= p.pitcher_game_stats.sum(:cg) %></td>
					<td><%= p.pitcher_game_stats.sum(:sho) %></td>
					<td><%= p.pitcher_game_stats.sum(:ip) %></td>
					<td><%= p.pitcher_game_stats.sum(:hits) %></td>
					<td><%= p.pitcher_game_stats.sum(:runs) %></td>
					<td><%= p.pitcher_game_stats.sum(:er) %></td>
					<td><%= p.pitcher_game_stats.sum(:hr) %></td>
					<td><%= p.pitcher_game_stats.sum(:hb) %></td>
					<td><%= p.pitcher_game_stats.sum(:bb) %></td>
					<td><%= p.pitcher_game_stats.sum(:ibb) %></td>
					<td><%= p.pitcher_game_stats.sum(:so) %></td>
					<td><%= number_with_precision((((p.pitcher_game_stats.sum(:er).to_d / p.pitcher_game_stats.sum(:ip).to_d) * 9).to_d), :precision => 2) %></td>
					<td><%= number_with_precision((((p.pitcher_game_stats.sum(:bb) + p.pitcher_game_stats.sum(:hits)).to_d / p.pitcher_game_stats.sum(:ip).to_d).to_d), :precision => 2) %></td>
				</tr>
			<% end %>

	</tbody>
</table>