<!DOCTYPE html>
<html>
<head>
  <title>BTMA</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Squada+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_coach %>
		<header class="banner clear">
			<div class="logo left">
				<%= current_team.logo %>
			</div>
			<div class="nickname left">
				<h1><%= current_team.nickname %></h1>
			</div>
			<div class="team_info left">
				<%= current_team.city %>
				<p>Est: <%= current_team.created_at.year %> - Team ID: <%= current_team.id %></p>
			</div>
			<nav class="right">
				<%= link_to "Home", team_path(current_team.id) %>
				<%= link_to "Stats", :players %>
				<%= link_to "Games", :games %>
				<%#= link_to "Logout", :login, :method => "delete" %>
			</nav>
		</header>
	<% end %>
		<div class="content">

			<%= yield %>

		</div>
		<footer>
			
		</footer>
	
</body>
</html>
